<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <h1 align = "center">About Page</h1>
    </head>
    <body>
        <p><strong>The model used is Inception V3 provided by Keras. It is trained on a credible dataset provided by Lawrence Moroney, Lead Advocate AI - Google. The model has 95% training accuracy and 97.3% validation accuracy.</strong></p>
        <br>
        <h3>The below given picture is an example of an inference performed using this model:</h3>
        <img src = "../static/images/dog.png" alt = "An accurate classification of a picture as a Dog." align = "center">
    </body>
</html>